:root {
  --font: 'OpenSans';

  --text-primary: #000000;
  --text-secondary: #000000;

  --color-primary: #000000;
  --color-secondary: #000000;

  --bg-primary: #000000;
  --bg-secondary: #000000;
}
