.input-wrap
  position: relative

.input
  @include font-styles(14px, 300)
  border: 1px solid #ffffff
  color: var(--text-primary)
  // &:focus
  //   border: 1px solid var(--bg-primary)
  //   outline: none
